---
import experiences from "../collections/experiences.json";
import EntrepreneurialJourney from "../components/entrepreneurial-journey.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm an entrepreneur building the future with AI. From scaling data teams to founding Vectrro, I turn complex problems into automated solutions that drive real business impact."
    />

    <img src="/assets/images/about-page-hero.jpeg" class="relative z-30 w-full max-w-2xl mx-auto my-10 rounded-xl" />


    <h2
      class="mt-5 mb-8 text-3xl font-bold lg:mt-10 sm:mt-6 text-neutral-900 dark:text-neutral-100"
    >
      My Entrepreneurial Journey
    </h2>
    <EntrepreneurialJourney experiences={experiences} />

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 text-neutral-900 dark:text-neutral-100">Let's Connect</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      If you want to stay up to date with my work be sure to <a
        href="https://www.linkedin.com/in/ray-li-4b0a9293"
        target="_blank"
        class="text-indigo-600 underline">connect me on LinkedIn</a
      >, or you can send me an <a href="mailto:m519160201@gmail.com" class="text-indigo-600 underline"
        >email</a
      > and I'll be sure to get back to you.
    </p>
  </section>
</Layout>
