---
const { link, text, newTab = false } = Astro.props;
---

<a
  href={link}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}
  class="inline-flex w-auto px-4 py-2 text-xs font-semibold duration-300 ease-out border rounded-full bg-accent text-white border-accent hover:bg-accent-hover hover:border-accent-hover dark:bg-accent dark:border-accent dark:hover:bg-accent-hover"
>
  {text}
</a>
