<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-2 text-black dark:text-white font-semibold"
>
  <img
    src="/assets/images/favicon-rayl.png"
    alt="Ray Logo"
    class="w-5 h-5 -translate-y-0.5 group-hover:scale-110 group-hover:brightness-110 group-hover:drop-shadow-lg transition-all duration-300 ease-out"
  />
  <!-- Logo Text -->
  <span class="-translate-y-0.5">Ray</span>
</a>
