---
import SquareLine from "./square-line.astro";
---

<div class="absolute w-full h-auto" style="z-index:-1">
  <div
    class="absolute top-0 left-0 w-1/2 h-auto bg-stone-100 dark:bg-stone-800"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tl from-white dark:from-stone-950 from-50% via-90% to-100% via-transparent to-transparent"
    >
    </div>
    <div
      class="flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-stone-300 dark:divide-stone-700 border-stone-300 dark:border-stone-900"
    >
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
    </div>
  </div>

  <div
    class="absolute top-0 right-0 w-1/2 h-auto bg-stone-100 dark:bg-stone-800"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tr from-white dark:from-stone-950 from-50% via-90% to-100% via-transparent to-transparent"
    >
    </div>
    <div
      class="flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-stone-300 dark:divide-stone-700 border-stone-300 dark:border-stone-900"
    >
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
    </div>
  </div>
</div>
